/*

ScrollMagic with Events
Pippin Barr

Basic styling of our progress text and our trigger div

*/

#progress {
  position: fixed;
  font-family: sans-serif;
  font-size: 20em;
  font-weight: bolder;
}

#trigger {
  height: 500px;
  width: 100%;
  margin: 0;
  margin-top: 10%;
  margin-bottom: 100%;
  background-color: lightgrey;
}
