/*

Slow Scroller
Pippin Barr

Some minimal styling of the text.

*/

body {
  margin: 30%;
}

.line {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
}

.visible {
  visibility: visible;
}
